<ng-container *ngIf="{
    PlayArea:         myCards.PlayArea$ | async,
    Aside:            myCards.Aside$    | async,
    showCardProperty: showCardProperty$ | async,
    isMyTurn:         isMyTurn$         | async
  } as data">

<div class="body">
  <div class="PlayArea_Aside">
    <div *ngIf="data.isMyTurn || data.PlayArea?.length > 0"
        class="card-area box-shadow PlayArea"
        [class.is-my-turn]="data.isMyTurn">
      <app-cards-lined-up
        [showCardProperty]="data.showCardProperty"
        [DCardArray$]="myCards.PlayArea$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
    <div *ngIf="data.isMyTurn || data.Aside?.length > 0"
        class="card-area box-shadow Aside"
        [class.is-my-turn]="data.isMyTurn">
      <app-cards-lined-up
        [showCardProperty]="data.showCardProperty"
        [DCardArray$]="myCards.Aside$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
  </div>

  <div class="Deck_HandCards_DiscardPile">
    <div class="card-area box-shadow Deck"
        [class.is-my-turn]="data.isMyTurn">
      <app-cards-pile
        [showArraySize]="true"
        [showCardProperty]="data.showCardProperty"
        [DCardArray$]="myCards.Deck$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
    <div class="card-area box-shadow HandCards"
        [class.is-my-turn]="data.isMyTurn">
      <app-cards-lined-up
        [defaultArrayLength]="5"
        [showCardProperty]="data.showCardProperty"
        [DCardArray$]="myCards.HandCards$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
    <div class="card-area box-shadow DiscardPile"
        [class.is-my-turn]="data.isMyTurn">
      <app-cards-pile
        [showArraySize]="false"
        [showCardProperty]="data.showCardProperty"
        [DCardArray$]="myCards.DiscardPileReveresed$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
  </div>
</div>
</ng-container>
