<div class="body">
  <div class="sidebar">
    <button mat-button (click)="toggleSideNav( sidenav )"> <mat-icon>textsms</mat-icon> </button>

    <span class="spacer"></span>

    <ng-container *ngIf="receiveDataDone$ | async">

      <ng-container *ngIf="itsMyTurn$ | async">
        <div matTooltip="Go to next phase" matTooltipPosition="after">
          <button mat-button (click)="goToNextPhase()">
            <mat-icon class="goToNextPhaseIcon">file_download</mat-icon>
          </button>
        </div>
        <div matTooltip="Finish my turn" matTooltipPosition="after">
          <button mat-button (click)="goToNextPlayer()">
            <mat-icon>forward</mat-icon>
          </button>
        </div>
      </ng-container>

      <!-- <app-turn-info [turnInfo$]="turnInfo$"> </app-turn-info> -->

      <div matTooltip="Sort hand cards" matTooltipPosition="after">
        <button mat-button (click)="sortMyHandCards()"> <mat-icon>sort</mat-icon> </button>
      </div>
    </ng-container>
  </div>

  <mat-sidenav-container class="sidenavContainer">
    <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="chatOpened$ | async" disableClose="true">
      <!-- <app-chat [sidenav]="sidenav"> </app-chat> -->
    </mat-sidenav>

    <div class="margined-element">
      <app-waiting-spinner [done]="receiveDataDone$ | async">
      </app-waiting-spinner>
    </div>
    <div>
      <div class="shared-area_other-player-area">
        <!-- <app-shared-area class="shared-area"
          (cardClicked)="onCardClicked( $event )">
        </app-shared-area>
        <app-other-player-area
          (cardClicked)="onCardClicked( $event )">
        </app-other-player-area> -->
      </div>
      <!-- <app-turn-player-area
        (cardClicked)="onCardClicked( $event )">
      </app-turn-player-area> -->
    </div>
<!--
    <button mat-raised-button (click)="test()">test</button>
    <button mat-raised-button (click)="faceUpCurse()">faceUpCurse</button>
    <button mat-raised-button (click)="faceDownCurse()">faceDownCurse</button> -->

  </mat-sidenav-container>
</div>


