<ng-container *ngIf="{
      chatOpened:          chatOpened$          | async,
      autoScroll:          autoScroll$          | async,
      initialStateIsReady: initialStateIsReady$ | async,
      cardSizeRatio:       cardSizeRatio$       | async,
      myIndex:             myIndex$             | async,
      isMyTurn:            isMyTurn$            | async,
      messageForMe:        messageForMe$        | async,
      gameIsOver:          gameIsOver$          | async
    } as data">

  <div class="body">
    <div class="sidebar">
      <app-sidebar-left
          [autoScroll$]="autoScroll$"
          [isBuyPlayPhase$]="isBuyPlayPhase$"
          [myIndex$]="myIndex$"
          [isMyTurn$]="isMyTurn$"
          [gameIsOver$]="gameIsOver$"
          [chatOpened$]="chatOpened$"
          [myThinkingState$]="myThinkingState$"
          (toggleSideNav)="toggleSideNav( sidenav )"
          (autoScrollChange)="autoScrollChange( $event )"
          (logSnapshot)="logSnapshot()"
          (toggleShowCardPropertyButtons)="toggleShowCardPropertyButtons()"
          (initialStateIsReadyChange)="initialStateIsReadyChange()"
        >
      </app-sidebar-left>
    </div>

    <mat-sidenav-container class="sidenavContainer">
      <mat-sidenav #sidenav mode="side" disableClose="true"
            [opened]="data.chatOpened" >
        <app-chat [autoScroll]="data.autoScroll" [sidenav]="sidenav"> </app-chat>
      </mat-sidenav>

      <div *ngIf="!data.initialStateIsReady" class="black-cover"></div>
      <div class="main">
        <div class="upper-part">
          <div class="shared-area_other-players-area">
            <app-shared-area class="shared-area"
              [cardSizeRatio]="data.cardSizeRatio"
              [showCardProperty$]="showCardProperty$"
              (cardClicked)="onCardClick( data.myIndex, $event )">
            </app-shared-area>
            <app-other-players-area
              class="other-players-area"
              [cardSizeRatio]="data.cardSizeRatio"
              (cardClicked)="onCardClick( data.myIndex, $event )">
            </app-other-players-area>
          </div>
          <div *ngIf="!data.isMyTurn">
            <app-turn-player-area
              [cardSizeRatio]="data.cardSizeRatio"
              (cardClicked)="onCardClick( data.myIndex, $event )">
            </app-turn-player-area>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="my-area messageForMe-area-wrapper"
            [class.is-my-turn]="data.isMyTurn">
          <div class="messageForMe-area">
            <span> {{data.messageForMe}} </span>
          </div>
        </div>
        <div class="my-area my-card-area" [class.is-my-turn]="data.isMyTurn">
          <app-my-area
            [showCardProperty$]="showCardProperty$"
            [cardSizeRatio]="data.cardSizeRatio"
            (cardClicked)="onCardClick( data.myIndex, $event )">
          </app-my-area>
        </div>
      </div>
    </mat-sidenav-container>

    <div *ngIf="data.gameIsOver" class="game-result-bar">
      <app-sidebar-right [gameResult$]="gameResult$"></app-sidebar-right>
    </div>
  </div>
</ng-container>
