<ng-container *ngIf="{
    showCardProperty: showCardProperty$ | async,
    cardSizeRatio:    cardSizeRatio$    | async,
    Prosperity:       Prosperity$       | async,
    trashPile:        trashPile$        | async
  } as data">

<div class="shared-area box-shadow">
  <div class="BasicCards_KingdomCards">
    <div class="BasicCards">
      <div class="treasures">
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Copper$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Silver$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Gold$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile" *ngIf="data.Prosperity">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Platinum$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
      </div>

      <div class="victories">
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Estate$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Duchy$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Province$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile" *ngIf="data.Prosperity">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Colony$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
        <div class="card-pile">
          <app-cards-pile
            [showArraySize]="true"
            [showCardProperty]="data.showCardProperty"
            [DCardArray$]="BasicCards.Curse$"
            [myIndex$]="myIndex$"
            [width$]="width$"
            (cardClicked)="onClick( $event )" >
          </app-cards-pile>
        </div>
      </div>

    </div>
    <div class="KingdomCards">
      <div class="card-pile" *ngFor="let idArray$ of KingdomCards">
        <app-cards-pile
          [showArraySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="idArray$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
  </div>

  <div class="trashPile-area">
    <div class="trashPile"
        [style.width.px]="100 * data.cardSizeRatio"
        [style.height.px]="160 * data.cardSizeRatio" >
      <div>
        <app-cards-pile *ngIf="data.trashPile?.length > 0"
          [showArraySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="trashPile$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
  </div>
</div>
</ng-container>
