<ng-container *ngIf="{
      myIndex:              myIndex$              | async,
      isMyTurn:             isMyTurn$             | async,
      gameIsOver:           gameIsOver$           | async,
      chatOpened:           chatOpened$           | async,
      isBuyPlayPhase:       isBuyPlayPhase$       | async,
      myThinkingState:      myThinkingState$      | async,
      autoScroll:           autoScroll$           | async,
      devMode:              devMode$              | async,
      autoSort:             autoSort$             | async,
      autoPlayAllTreasures: autoPlayAllTreasures$ | async
    } as data">

<div class="body">
  <button mat-button class="sidebar-button"
      matTooltip="チャットを表示／非表示" matTooltipPosition="after"
      (click)="toggleSideNavClicked()" >
    <mat-icon>textsms</mat-icon>
  </button>

  <ng-container *ngIf="data.chatOpened" >
    <button mat-button class="sidebar-button"
        matTooltip="オートスクロール：オフ" matTooltipPosition="after"
        [class.button-checked]="!data.autoScroll"
        disableRipple
        (click)="toggleAutoScroll( false )" >
      <mat-icon>stop</mat-icon>
    </button>
    <button mat-button class="sidebar-button"
        matTooltip="オートスクロール：オン" matTooltipPosition="after"
        [class.button-checked]="data.autoScroll"
        disableRipple
        (click)="toggleAutoScroll( true )" >
      <mat-icon>arrow_downwards</mat-icon>
    </button>
  </ng-container>

  <button mat-button class="sidebar-button"
      matTooltip="考慮中" matTooltipPosition="after"
      (click)="toggleMyThinkingState( data.myThinkingState, data.myIndex )" >
    <mat-icon>hourglass_full</mat-icon>
  </button>

  <span class="spacer"></span>

  <ng-container>
    <ng-container *ngIf="data.isMyTurn && !data.gameIsOver">
      <button mat-button class="sidebar-button"
          matTooltip="次のフェーズへ" matTooltipPosition="after"
          (click)="goToNextPhase( data.myIndex, data.autoSort, data.autoPlayAllTreasures )" >
        <mat-icon style="transform: rotate( -90deg )">file_download</mat-icon>
      </button>
      <button mat-button class="sidebar-button"
          matTooltip="手番を終了する" matTooltipPosition="after"
          (click)="finishMyTurn( data.myIndex, data.autoSort )" >
        <mat-icon>forward</mat-icon>
      </button>
    </ng-container>

    <app-turn-info></app-turn-info>

    <button *ngIf="!data.gameIsOver"
        mat-button class="sidebar-button"
        matTooltip="手札をソート" matTooltipPosition="after"
        (click)="sortMyHandCards( data.myIndex )" >
      <mat-icon>sort</mat-icon>
    </button>
    <button *ngIf="!data.gameIsOver && data.isBuyPlayPhase && data.isMyTurn"
        mat-button class="sidebar-button"
        matTooltip="基本財宝カードをすべてプレイ" matTooltipPosition="after"
        (click)="playAllTreasures( data.myIndex, data.autoSort )" >
      <mat-icon>present_to_all</mat-icon>
    </button>

    <button mat-button class="sidebar-button"
        matTooltip="カード情報確認ボタンを表示／非表示" matTooltipPosition="after"
        (click)="toggleShowCardPropertyButtonsClicked()">
      <mat-icon>description</mat-icon><!-- featured_video -->
    </button>
    <button mat-button class="sidebar-button"
        matTooltip="設定" matTooltipPosition="after"
        (click)="settings()">
      <mat-icon>tune</mat-icon>
    </button>

    <!-- debug -->
    <ng-container *ngIf="data.devMode">
      <button mat-button class="sidebar-button developer"
          (click)="incrementTurnCounter( data.myIndex )">
        <mat-icon>plus_one</mat-icon>
      </button>
      <button mat-button class="sidebar-button developer"
          (click)="logSnapshotClicked()">
        <mat-icon>camera_alt</mat-icon>
      </button>
      <button mat-button class="sidebar-button developer"
          matTooltip="Log" matTooltipPosition="after"
          (click)="userInputLog()">
        log
      </button>
    </ng-container>
  </ng-container>
</div>
</ng-container>
