<ng-container *ngIf="{
      widthShrunk:  widthShrunk$  | async,
      lineMinWidth: lineMinWidth$ | async,
      empty:        empty$        | async,
      indice:       indice$       | async
    } as data">

  <div class="card-images-lined-up"
      [style.minWidth.px]="data.lineMinWidth" >

    <ng-container *ngIf="data.empty; then emptyCard; else Card"></ng-container>
    <ng-template #emptyCard>
      <app-dominion-card-image
        [width]="data.widthShrunk"
        [empty]="true">
      </app-dominion-card-image>
    </ng-template>
    <ng-template #Card>
      <div *ngFor="let index of data.indice"
          class="card-image-in-line" [style.paddingRight.px]="padding">
        <app-card-image-wrapper
          [showArraySize]="false"
          [showCardProperty]="showCardProperty"
          [width$]="widthShrunk$"
          [myIndex$]="myIndex$"
          [DCardArray$]="DCardArray$"
          [indexInArray]="index"
          (cardClicked)="onClicked( $event )" >
        </app-card-image-wrapper>
      </div>
    </ng-template>
  </div>
</ng-container>
