<ng-container *ngIf="{
      widthModified: widthModified$ | async,
      myIndex:       myIndex$       | async,
      DCardArray:    DCardArray$    | async
    } as data">

<ng-container
    *ngIf="!data.DCardArray || data.DCardArray.length === 0
            then emptyCard; else Card">
</ng-container>
<ng-template #emptyCard>
  <app-dominion-card-image
    [width]="width"
    [empty]="true">
  </app-dominion-card-image>
</ng-template>
<ng-template #Card>
  <!-- <div class="card-images-lined-up" [style.minWidth.px]="defaultArrayLength * (width + 4)"> -->
  <div class="card-images-lined-up">
    <div *ngFor="let DCard of data.DCardArray">
      <div class="card-image-wrapper card-image-in-line"
          [matTooltip]="DCard.cardProperty.nameJp" matTooltipPosition="above"
          [matTooltipDisabled]="!DCard.faceUp[ data.myIndex ]">
        <app-dominion-card-image
          [card]="DCard.cardProperty"
          [width]="data.widthModified"
          [faceUp]="DCard.faceUp[ data.myIndex ]"
          [isButton]="DCard.isButton[ data.myIndex ]"
          (cardClicked)="onClicked( DCard )">
          <!-- [description]="DCard.id.toString()" -->
        </app-dominion-card-image>
        <div class="pile-info absolute-position">
          <div *ngIf="DCard.faceUp[ data.myIndex ]" class="card-cost-coin">
            {{DCard.cardProperty.cost.toStr()}}
          </div>
          <div class="spacer"></div>
        </div>
      </div>
      <div *ngIf="showCardProperty && DCard.faceUp[ data.myIndex ]" class="card-property-button-wrapper">
        <button mat-icon-button
            (click)="openCardPropertyDialog( DCard )">
          <mat-icon>description</mat-icon><!-- featured_video -->
        </button>
      </div>
    </div>
  </div>
</ng-template>
</ng-container>
