<div class="turn-player-area">
  <div class="players-name">{{turnPlayersName$ | async}}</div>

  <div class="PlayArea_Aside">
    <div class="CardArea box-shadow PlayArea">
      <app-cards-lined-up
        [DCardArray$]="turnPlayerCards.PlayArea$"
        [width]="50 * cardSizeRatio"
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
    <div class="CardArea box-shadow Aside">
      <app-cards-lined-up
        [DCardArray$]="turnPlayerCards.Aside$"
        [width]="50 * cardSizeRatio"
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
  </div>

  <div class="Deck_HandCards_DiscardPile">
    <div class="CardArea box-shadow Deck">
      <app-cards-pile
        [displaySize]="true"
        [DCardArray$]="turnPlayerCards.Deck$"
        [width]="50 * cardSizeRatio"
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
    <div class="CardArea box-shadow HandCards">
      <app-cards-lined-up
        [defaultArrayLength]="5"
        [DCardArray$]="turnPlayerCards.HandCards$"
        [width]="50 * cardSizeRatio"
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
    <div class="CardArea box-shadow DiscardPile">
      <app-cards-pile
        [displaySize]="false"
        [DCardArray$]="turnPlayerCards.DiscardPileReveresed$"
        [width]="50 * cardSizeRatio"
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
  </div>
</div>
