<mat-toolbar color='primary' class='header box-shadow'>
  <a mat-icon-button routerLink='/'> <mat-icon>home</mat-icon> </a>

  <a *ngIf="signedIn$ | async"
      class='toolbarButton' mat-button
      routerLink='/game-result'>
    Game Results
  </a>
  <a *ngIf="signedIn$ | async"
      class='toolbarButton' mat-button
      routerLink='/cardlist'>
    Card List
  </a>

  <span class="spacer"></span>

  <span class="userName">{{ myName$ | async }}</span>
  <ng-container *ngIf="!(signedIn$ | async)">
    <a mat-icon-button routerLink='/user-admin'> <mat-icon>person</mat-icon> </a>
  </ng-container>

  <ng-container *ngIf="signedIn$ | async">
    <a mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>person</mat-icon> </a>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <!-- <a mat-menu-item routerLink='/my-page'>マイページ</a> -->
      <a mat-menu-item routerLink='/user-admin'>アカウント</a>
      <button mat-menu-item (click)="logout()">
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>

</mat-toolbar>


<!--dummy-->
<mat-toolbar> </mat-toolbar>

<router-outlet></router-outlet>
