<h1 mat-dialog-title>
  {{card.name_jp}} ({{card.name_eng}})
</h1>

<div mat-dialog-content>
  <div class="flex-content">
    <div class="image">
      <app-dominion-card-image
        [card]='card'
        [faceUp]='true'
        width='250'>
      </app-dominion-card-image>
    </div>
    <div class="description">
      <table class='data-table small-table data-table--shadow3px data-table--vertical-line'>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>{{cardForView[item.memberName]}}</td>
          </tr>
          <tr *ngIf="card.linkId >= 0">
            <td></td>
            <td>
              <a mat-raised-button [href]="cardListLinkPath( card.linkId )" target="_blank">
                カードリスト
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div mat-dialog-actions class="actionButtons">
  <button mat-raised-button color='primary' class='actionButton' (click)="dialogRef.close()">OK</button>
</div>
