<ng-container *ngIf="{
    PlayArea:        playerCards.PlayArea$ | async,
    Aside:           playerCards.Aside$    | async,
    turnPlayerIndex: turnPlayerIndex$      | async,
    myIndex:         myIndex$              | async
  } as data">


<div class="player-area"
    [class.isTurnPlayer]="playerIndex === data.turnPlayerIndex">
  <div class="players-name">
    <span> {{playerName}} </span>
    <span class="spacer"></span>
    <mat-icon *ngIf="thinkingState">hourglass_full</mat-icon>
  </div>

  <ng-container *ngIf="playerIndex !== data.turnPlayerIndex
                      && playerIndex !== data.myIndex">
    <div class="PlayArea_Aside">
      <div *ngIf="data.PlayArea?.length > 0"
          class="CardArea box-shadow PlayArea">
        <app-cards-lined-up
          [showCardProperty]="false"
          [DCardArray$]="playerCards.PlayArea$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick( $event )" >
        </app-cards-lined-up>
      </div>
      <div *ngIf="data.Aside?.length > 0"
          class="CardArea box-shadow Aside">
        <app-cards-lined-up
          [showCardProperty]="false"
          [DCardArray$]="playerCards.Aside$"
          [myIndex$]="myIndex$"
          [width$]="width$"
          (cardClicked)="onClick( $event )" >
        </app-cards-lined-up>
      </div>
    </div>

    <div class="Deck_HandCards_DiscardPile">
      <div class="CardArea box-shadow Deck">
        <app-cards-pile
        [showArraySize]="true"
        [showCardProperty]="false"
        [DCardArray$]="playerCards.Deck$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="CardArea box-shadow HandCards">
        <app-cards-lined-up
          [showCardProperty]="false"
          [DCardArray$]="playerCards.HandCards$"
          [myIndex$]="myIndex$"
          [defaultArrayLength]="5"
          [width$]="width$"
          (cardClicked)="onClick( $event )" >
        </app-cards-lined-up>
      </div>
      <div class="CardArea box-shadow DiscardPile">
        <app-cards-pile
        [showArraySize]="false"
        [showCardProperty]="false"
        [DCardArray$]="playerCards.DiscardPileReveresed$"
        [myIndex$]="myIndex$"
        [width$]="width$"
        (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
  </ng-container>

</div>
</ng-container>
