<div *ngIf="!!(myCards$ | async)" class="my-area">
  <div class="PlayArea_Aside">
    <div class="CardArea box-shadow PlayArea">
      <app-cards-lined-up
        [DCardArray$]="myCards.PlayArea$"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
    <div class="CardArea box-shadow Aside">
      <app-cards-lined-up
        [DCardArray$]="myCards.Aside$"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
  </div>

  <div class="Deck_HandCards_DiscardPile">
    <div class="CardArea box-shadow Deck">
      <app-cards-pile
        [DCardArray$]="myCards.Deck$"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
    <div class="CardArea box-shadow HandCards">
      <app-cards-lined-up
        [DCardArray$]="myCards.HandCards$"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-lined-up>
    </div>
    <div class="CardArea box-shadow DiscardPile">
      <app-cards-pile
        [DCardArray$]="myCards.DiscardPileReveresed$"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
  </div>
</div>
