.httpGetWaitingSpinner {
  width:24px;
}

/*sidenav*/
.sidenavContainer:not(.full-screen) {
  height: var(--main-height-without-toolbar);
}
.sidenavContainer.full-screen {
  height: var(--main-height);
}

.sidenavMain {
  width: 100%;
}

.sidenav {
  max-width: 400px;
  background-color: #DBF7F7;
}
