/* sidebar width == 48px */
.item {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.phase {
  background-color: rgb(57, 76, 180);
  margin: 5px 0;
  color: white;
}

.action {
  background-color: rgb(255, 138, 177);
}
.buy {
  background-color: rgb(119, 216, 119);
}
.coin {
  background-color: rgb(235, 230, 143);
}
