<ng-container *ngIf="{
    showCardProperty: showCardProperty$ | async,
    Prosperity: Prosperity$ | async,
    trashPile:  trashPile$  | async
  } as data">

<div class="shared-area box-shadow">
  <div class="BasicCards_KingdomCards">
    <div class="BasicCards">
      <!-- <div class="card-pile animation-test"
          [@fade]="fade"
          (click)="toggleFade()">
      </div> -->
      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Copper$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Silver$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Gold$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile" *ngIf="data.Prosperity">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Platinum$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>

      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Estate$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Duchy$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Province$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile" *ngIf="data.Prosperity">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Colony$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>

      <div class="card-pile">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="BasicCards.Curse$"
          [width]='55 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
    <div class="KingdomCards">
      <div class="card-pile" *ngFor="let idArray$ of KingdomCards">
        <app-cards-pile
          [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
          [DCardArray$]="idArray$"
          [width]='70 * cardSizeRatio'
          (cardClicked)="onCardClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
  </div>

  <div class="trashPile"
      [style.width.px]="100 * cardSizeRatio"
      [style.height.px]="160 * cardSizeRatio" >
    <div>
      <app-cards-pile *ngIf="data.trashPile?.length > 0"
        [displaySize]="true"
          [showCardProperty]="data.showCardProperty"
        [DCardArray$]="trashPile$"
        [width]='70 * cardSizeRatio'
        (cardClicked)="onCardClick( $event )" >
      </app-cards-pile>
    </div>
  </div>
</div>
</ng-container>
