<ng-container *ngIf="{
    BasicCards:   BasicCards$   | async,
    Prosperity:   Prosperity$   | async,
    KingdomCards: KingdomCards$ | async,
    trashPile:    trashPile$    | async
  } as data">

<div class="shared-area box-shadow">
  <div class="BasicCards_KingdomCards">
    <div class="BasicCards">
      <div *ngIf="data.BasicCards">
        <app-cards-pile
          [DCardArray]="data.BasicCards.Copper"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
        <app-cards-pile
          [DCardArray]="data.BasicCards.Silver"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
        <app-cards-pile
          [DCardArray]="data.BasicCards.Gold"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
        <app-cards-pile *ngIf="data.Prosperity"
          [DCardArray]="data.BasicCards.Platinum"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>

        <app-cards-pile
          [DCardArray]="data.BasicCards.Estate"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
        <app-cards-pile
          [DCardArray]="data.BasicCards.Duchy"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
        <app-cards-pile
          [DCardArray]="data.BasicCards.Province"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
        <app-cards-pile *ngIf="data.Prosperity"
          [DCardArray]="data.BasicCards.Colony"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>

        <app-cards-pile
          [DCardArray]="data.BasicCards.Curse"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
    <div class="KingdomCards">
      <app-cards-pile *ngFor="let idArray of data.KingdomCards"
        [DCardArray]="idArray"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
  </div>

  <div class="trashPile" >
    <ng-container *ngIf="data.trashPile">
      <app-cards-pile *ngIf="data.trashPile.length > 0"
        [DCardArray]="data.trashPile"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </ng-container>
  </div>
</div>
</ng-container>
