<ng-container *ngIf="{
    Prosperity: Prosperity$ | async,
    trashPile:  trashPile$  | async
  } as data">

<div class="shared-area box-shadow">
  <div class="BasicCards_KingdomCards">
    <div class="BasicCards">
      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Copper$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Silver$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Gold$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile" *ngIf="data.Prosperity">
        <app-cards-pile
          [DCardArray$]="BasicCards.Platinum$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>

      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Estate$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Duchy$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Province$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
      <div class="card-pile" *ngIf="data.Prosperity">
        <app-cards-pile
          [DCardArray$]="BasicCards.Colony$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>

      <div class="card-pile">
        <app-cards-pile
          [DCardArray$]="BasicCards.Curse$"
          width='55'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
    <div class="KingdomCards">
      <div class="card-pile" *ngFor="let idArray$ of KingdomCards">
        <app-cards-pile
          [DCardArray$]="idArray$"
          width='70'
          (cardClicked)="onClick( $event )" >
        </app-cards-pile>
      </div>
    </div>
  </div>

  <div class="trashPile">
    <div>
      <app-cards-pile *ngIf="data.trashPile?.length > 0"
        [DCardArray$]="trashPile$"
        width='70'
        (cardClicked)="onClick( $event )" >
      </app-cards-pile>
    </div>
  </div>
</div>
</ng-container>
