.shared-area {
  background-color: #B5C8F1;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}


.BasicCards,.KingdomCards {
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.BasicCards_KingdomCards {
  flex: 1;
}

.trashPile {
  height : 160px;
  width: 100px;
  margin: 5px;
  background-image: url(/assets/img/trashArea.jpg);
  background-size: cover;
  padding-top : 35px;
  padding-left : 10px;
}

.card-pile {
  margin: 2px;
}
