.dominionCard {
  display: inline-flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.description {
  justify-content: center;
  text-align: center;
}

.image-box {
  border: solid 16px black;
  border-radius: 16px;
}
