<ng-container *ngIf="{
      isButton:        isButton$        | async,
      faceUp:          faceUp$          | async,
      empty:           empty$           | async,
      card:            card$            | async,
      description:     description$     | async,
      topDCard:        topDCard$        | async,
      DCardArraySize:  DCardArraySize$  | async,
      topDCardCostStr: topDCardCostStr$ | async,
      tooltipSizeStr:  tooltipSizeStr$  | async,
      tooltipNameStr:  tooltipNameStr$  | async,
      tooltipCostStr:  tooltipCostStr$  | async
    } as data">

<ng-container
    *ngIf="data.isButton    !== undefined
        && data.faceUp      !== undefined
        && data.empty       !== undefined
        && data.description !== undefined
        && !!data.card
        && !!data.topDCard
    ; then Card; else emptyCard">
</ng-container>
<ng-template #emptyCard>
  <app-dominion-card-image
    [width]="width"
    [empty]="true">
  </app-dominion-card-image>
</ng-template>
<ng-template #Card>
  <div class="card-image-wrapper">
    <app-dominion-card-image
      [matTooltip]="data.tooltipNameStr" matTooltipPosition="below"
      [matTooltipDisabled]="!data.faceUp"
      [card]="data.card"
      [width]="width"
      [faceUp]="data.faceUp"
      [isButton]="data.isButton"
      [empty]="data.empty"
      (cardClicked)="onClickedIfIsButton( data.isButton, data.topDCard )" >
      <!-- [description]="data.description" -->
    </app-dominion-card-image>
    <div class="pile-info absolute-position" *ngIf="!data.empty">
      <div *ngIf="data.faceUp"
          class="card-cost-coin"
          [matTooltip]="data.tooltipCostStr" matTooltipPosition="below">
        {{data.topDCardCostStr}}
      </div>
      <div class="spacer"></div>
      <div *ngIf="displaySize"
          class="dcard-array-size"
          [matTooltip]="data.tooltipSizeStr" matTooltipPosition="below" >
        {{data.DCardArraySize}}
      </div>
    </div>
  </div>
  <div *ngIf="showCardProperty && data.faceUp" class="card-property-button-wrapper">
    <button mat-icon-button
        (click)="openCardPropertyDialog( data.topDCard )">
      <mat-icon>description</mat-icon><!-- featured_video -->
    </button>
  </div>
</ng-template>
</ng-container>
